################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ToDo/.vs/ToDo/v16
/ToDo/obj
/ToDo/Properties
/ToDoAPI/.vs
/ToDoAPI/bin/Debug/netcoreapp2.2
/ToDoAPI/obj
/ToDoAPI/Properties
/ToDoAPI/ToDoAPI.csproj.user
